@import "partials/setup";
@import "partials/global";
@import "partials/mediaqueries";

/* STARTING PAGE ==================== */

.main {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    right: 0;
}

.main__image {
    width: 50%;
    position: relative;
    img {
        display: block;
        margin: auto;
        position: absolute;
        width: auto;
        height: auto;
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;
        
    }
}

.main__intro {
    width: 50%;
    padding: 0 40px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    h1 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1;
        margin-top: 40px;
    }
    h2 {
        color: $secondaryColour;
        
    }
    img {
        display: block;
        margin: 0 auto;
        width: 60%;
        max-width: 346px;
        min-width: 220px;
    }
    button {
        background: none;
        color: white;
        text-transform: uppercase;
        display: block;
        
        margin: 30px auto 40px auto;
        padding: 10px 40px;
        border: 2px solid white;
        font-weight: 700;
        img {
            max-width: 20px;
        }
    }
}

/* QUESTIONS ======================== */

.question {
    display: flex;
    align-items: center;
}

.question__container {
    justify-content: center;
    height: 414px;
}

h2 {
    margin-bottom: 0;
}

/* QUESTION #1 ====================== */

.questionOne {
    padding: 40px 100px;
    position: relative;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & :not(:first-child), :not(:first-child) > .innerBox {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
            .question__form {
                margin: 0 auto;
                width: 75%;
            }
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            display: flex;
            align-items: center;
            width: 50%;
            img {
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}



// /* QUESTION #2 ====================== */

.questionTwo {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(3), :nth-child(3) > .innerBox, 
        :nth-child(4), :nth-child(4) > .innerBox, 
        :nth-child(5), :nth-child(5) > .innerBox,
        :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        .question__options {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .question__form {
                margin: 0 auto;
                width: 75%;
            }
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            display: flex;
            align-items: center;
            width: 50%;
            img {
                max-height: 60vh;
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}

// /* QUESTION #3 ====================== */

.questionThree {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(4), :nth-child(4) > .innerBox, 
        :nth-child(5), :nth-child(5) > .innerBox,
        :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            width: 50%;
            display: flex;
            align-items: center;
            img {
                max-height: 90vh;
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}


// /* QUESTION #4 ====================== */

.questionFour {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox,
        .outerBox:nth-child(3) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(5), :nth-child(5) > .innerBox,
        :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
            // margin-top: 50px;
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            display: flex;
            align-items: center;
            width: 50%;
            img {
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}

// /* QUESTION #5 ====================== */

.questionFive {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox,
        .outerBox:nth-child(3) > .innerBox,
        .outerBox:nth-child(4) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            width: 505;
            display: flex;
            align-items: center;
            img {
                max-height: 60vh;
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}

// /* RESULT PAGE ====================== */

//     .result {
//         position: absolute;
//         top: 0;
//         left: 0;
//         visibility: hidden;
//     }
.result {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox,
        .outerBox:nth-child(3) > .innerBox,
        .outerBox:nth-child(4) > .innerBox,
        .outerBox:nth-child(5) > .innerBox,
        .outerBox:nth-child(6) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & .outerBox:last-child img {
            padding-right: 6px;
        }
    }
    h2 {
        margin: 0;
    }
    .result--left, .result--right {
        width: 50%;
    }
    .result--left {
        display: flex;
        .result__recipe {
            margin: 0 auto;
        }
        .answerHere {
            display: flex;
            flex-direction: column;
        }
        img {
            margin: 0 auto;
        }
    }
    .result--right {
        align-items: center;
        flex-direction: column;
        display: flex;
        padding-right: 30px;
        button {
            background: none;
            color: white;
            text-transform: uppercase;
            margin: 30px auto 40px auto;
            padding: 10px 40px;
            border: 2px solid white;
            font-weight: 700;
        }
        ul {
            margin-bottom: 0;
            margin-top: 40px;
        }
        li {
            height: 40px;
        }
        p {
            margin: 0;
        }
    }
    .answerHere img {
        width: 70%;
        border: 2px solid $tertiaryColour;
    }
    .listHere {
        padding: 0;
    }
}