@import "partials/setup";
@import "partials/global";

/* STARTING PAGE ==================== */

.main {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    right: 0;
}

.main__image {
    width: 50%;
    position: relative;
    img {
        display: block;
        margin: auto;
        position: absolute;
        width: auto;
        height: auto;
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;
        max-height:80vh;
    }
}

.main__intro {
    width: 50%;
    padding: 0 0 0 40px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    h1 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2 {
        color: $secondaryColour;
        margin-top: 0;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 60%;
        max-width: 346px;
        min-width: 220px;
    }
    button {
        background: none;
        color: white;
        text-transform: uppercase;
        display: block;        
        // margin: 30px auto 40px auto;
        margin: 0 auto 20px auto;
        padding: 10px 40px;
        border: 2px solid white;
        font-weight: 700;
        img {
            max-width: 20px;
        }
    }
}

/* QUESTIONS ======================== */

.question {
    display: flex;
    align-items: center;
}

.question__container {
    justify-content: center;
    height: 414px;
}

h2 {
    margin-bottom: 0;
}

/* QUESTION #1 ====================== */

.questionOne {
    padding: 40px 100px;
    position: relative;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & :not(:first-child), :not(:first-child) > .innerBox {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
            .question__form {
                // margin: 0 auto;
                // width: 75%;
            }
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            display: flex;
            align-items: center;
            width: 50%;
            img {
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}



/* QUESTION #2 ====================== */

.questionTwo {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(3), :nth-child(3) > .innerBox, 
        :nth-child(4), :nth-child(4) > .innerBox, 
        :nth-child(5), :nth-child(5) > .innerBox,
        :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        .question__options {
            width: 50%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            .question__form {
                // margin: 0 auto;
                // width: 75%;
            }
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            display: flex;
            align-items: center;
            width: 50%;
            img {
                max-height: 60vh;
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}

/* QUESTION #3 ====================== */

.questionThree {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(4), :nth-child(4) > .innerBox, 
        :nth-child(5), :nth-child(5) > .innerBox,
        :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            width: 50%;
            display: flex;
            align-items: center;
            img {
                max-height: 90vh;
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}


/* QUESTION #4 ====================== */

.questionFour {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox,
        .outerBox:nth-child(3) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(5), :nth-child(5) > .innerBox,
        :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
            // margin-top: 50px;
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            display: flex;
            align-items: center;
            width: 50%;
            img {
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}

/* QUESTION #5 ====================== */

.questionFive {
    padding: 40px 100px;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox,
        .outerBox:nth-child(3) > .innerBox,
        .outerBox:nth-child(4) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & :nth-child(6), :nth-child(6) > .innerBox  {
            border: 3px solid darken($tertiaryColour, 25);
        }
    }
    .question__container {
        display: flex;
        // justify-content: space-between;
        .question__options {
            width: 50%;
            // margin-left: 50px;
            // margin-top: 100px;
            button {
                background: none;
                color: white;
                text-transform: uppercase;
                // display: block;
                margin: 30px auto 40px auto;
                padding: 10px 40px;
                border: 2px solid white;
                font-weight: 700;
            }
        }
        .question__image {
            width: 50%;
            display: flex;
            align-items: center;
            img {
                max-height: 60vh;
                margin: 0 auto;
            }
        }
    }
}

.outerBox {
  border: 3px solid $tertiaryColour;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-left: 20px;
}

.innerBox {
  border: 2px solid $tertiaryColour;
  height:42px;
  width:42px;
}

/* RESULT PAGE ====================== */

.result {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    .question__progressbar {
        display: flex;
        position: absolute;
        // top: 50px;
        // // right: 331px;
        // left: 50px;
        top: 27px;
        right: 341px;
        & .outerBox:first-child > .innerBox, .outerBox:nth-child(2) > .innerBox,
        .outerBox:nth-child(3) > .innerBox,
        .outerBox:nth-child(4) > .innerBox,
        .outerBox:nth-child(5) > .innerBox,
        .outerBox:nth-child(6) > .innerBox {
            background: $tertiaryColour;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transform: rotate(315deg);
            }
        }
        & .outerBox:last-child img {
            padding-right: 6px;
        }
    }
    h2 {
        margin: 0;
    }
    .result--left, .result--right {
        width: 50%;
    }
    .result--left {
        display: flex;
        .result__recipe {
            margin: 0 auto;
        }
        .answerHere {
            display: flex;
            flex-direction: column;
        }
        img {
            margin: 0 auto;
        }
    }
    .result--right {
        align-items: center;
        flex-direction: column;
        display: flex;
        // padding-right: 30px;
        button {
            background: none;
            color: white;
            text-transform: uppercase;
            margin: 30px auto 40px auto;
            padding: 10px 40px;
            border: 2px solid white;
            font-weight: 700;
        }
        ul {
            margin-bottom: 0;
            margin-top: 40px;
        }
        li {
            height: 40px;
        }
        p {
            margin: 0;
        }
    }
    .answerHere img {
        width: 70%;
        border: 2px solid $tertiaryColour;
    }
    .listHere {
        padding: 0;
    }
}

/* MEDIA QUERIES ================== */

@media (max-width: 1060px) {
    .topRight, .bottomLeft {
        display: none;
    }
    main.main {
        padding: 40px;
    }
    .main__intro {
        padding-right: 0;
    }
    .questionOne .question__progressbar,
    .questionTwo .question__progressbar,
    .questionThree .question__progressbar,
    .questionFour .question__progressbar,
    .questionFive .question__progressbar,
    .result .question__progressbar {
        width: 420px;
        left: 50%;
        transform: translateX(-50%);
        //not responding to the left position for some reason
        & .outerBox:first-child {
            margin-left:10px;
        }
    }
    .question__options button {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 914px) {
    .result--right button.question__resetBtn {
        margin: 30px auto 0px auto;
    }
    .question.questionOne,
    .question.questionTwo,
    .question.questionThree,
    .question.questionFour,
    .question.questionFive,
    .question.result {
        padding: 40px;
    }
    .question__container .question__options button.question__submitBtn {
        margin: 30px auto 10px auto;
    }    
}

@media (max-width: 782px) {
    .question {
        height: auto;
        flex-direction: column;
    }
    .questionOne .question__container,
    .questionTwo .question__container,
    .questionThree .question__container,
    .questionFour .question__container,
    .questionFive .question__container {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .question .question__container .question__image {
        display: none;
    }
    main.question.main.show {
        display: flex;
        flex-direction: column;
    }
    .main__image img {
        position: inherit;
        margin-bottom: 20px;
    }
    .main__intro {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .question__container {
        flex-direction: column;
        align-items: center;
    }
    .questionOne .question__progressbar,
    .questionTwo .question__progressbar,
    .questionThree .question__progressbar,
    .questionFour .question__progressbar,
    .questionFive .question__progressbar,
    .result .question__progressbar {
        margin-right: 0;
        position: static;
        transform: none;
        width: auto;
    }
    .result .result--left, .result .result--right {
        width: 100%;
    }
    .result--left {
        margin-top: 50px;
    }
    .questionOne .question__container .question__options,
    .questionTwo .question__container .question__options,
    .questionThree .question__container .question__options,
    .questionFour .question__container .question__options,
    .questionFive .question__container .question__options, {
        width: 100%;
    }
    .outerBox {
        height: 36px;
        width: 36px;
        margin-left: 14px;
    }
    .innerBox {
        height: 26px;
        width: 26px;
        img {
            width: 90%;
        }
    }
    .result .question__progressbar .outerBox:first-child > .innerBox img, .result .question__progressbar .outerBox:nth-child(2) > .innerBox img, .result .question__progressbar .outerBox:nth-child(3) > .innerBox img, .result .question__progressbar .outerBox:nth-child(4) > .innerBox img, .result .question__progressbar .outerBox:nth-child(5) > .innerBox img {
        width: 80%;
    }

    .question__progressbar {
        justify-content: center;
        width: auto;
        .outerBox:last-child img {
            width: 100%;
            padding-left: 2px;
        }        
    }
}

@media (max-width: 480px) {
    main.main,
    .question.questionOne,
    .question.questionTwo,
    .question.questionThree,
    .question.questionFour,
    .question.questionFive,
    .question.result {
        padding: 20px;
    }
    main.main .main__image {
        width: 80%;
    }
    .questionOne .question__progressbar,
    .questionTwo .question__progressbar,
    .questionThree .question__progressbar,
    .questionFour .question__progressbar,
    .questionFive .question__progressbar,
    .result .question__progressbar {
        // width: auto;
        display: none;
    }
    main .main__image {
        width: 100%;
    }
    .questionOne .question__container, .questionTwo .question__container, .questionThree .question__container, .questionFour .question__container, .questionFive .question__container {
        margin-top: 0;
    }
    .result--left {
        margin: 0;
    }
}

@media (max-width: 320px) {
    .question__container .question__options button {
        padding: 2px 40px;
        font-size: 0.8em;
    }
    .main__intro button,
    .result--right button.question__resetBtn {
        font-size: 0.8em;
    }
    .questionOne .question__container, .questionTwo .question__container, .questionThree .question__container, .questionFour .question__container, .questionFive .question__container {
        margin-bottom: 100px;
    }
    h2 {
        font-size: 1.2em;
    }
    .main__intro h1 {
        font-size: 2em;
    }
}